:root {
    --base-font-size        : 16px;
    --site-width            : 100rem;
    --height-header         : 7.1875rem;
    --primary-color         : #004B9C;
    --secondary-color       : #383838;
    --bg-body               : #EBF4FE;
    --primary-font          : 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: var(--base-font-size);
    font-family: var(--primary-font);
    background: linear-gradient(180deg, #FFFFFF 0%, var(--bg-body) 100%);
}

a { text-decoration: none; }

figure { margin: 0; }

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.items-list { 
    list-style: none;
    margin: 0;
    padding: 0;
}

.landing-container {
    width: 100%;
    margin: 0 auto;
}

.landing-header__logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.landing-main { 
    position: relative;
    background: linear-gradient(180deg, #FFFFFF 0%, var(--bg-body) 100%); 
}

.landing-main:before { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/bg-hero.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.landing-hero {
    position: relative;
    z-index: 2;
}

.landing-hero:after {
    content: "";
    position: absolute;
    bottom: -0.625rem;
    right: 0;
    width: 30%;
    height: 1.25rem;
    border-radius: 1.875rem 0 0 1.875rem;
    background: var(--primary-color);
}

.landing-hero__image {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.landing-hero__image img {
    max-width: 56rem;
    width: 100%;
}

.landing-hero__summary h2 {
    margin: 0 0 1rem;
    font-size: 4.625rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.125;
    color: var(--primary-color);
}

.landing-hero__summary h2 strong {
    color: var(--secondary-color);
}

.landing-hero__summary p {
    margin: 0 0 1.5rem;
    font-size: 1.875rem;
    font-weight: 300;
}

.landing-hero__summary a {
    display: inline-block;
    padding: .875rem 3rem;
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 1.875rem;
    letter-spacing: 0.145em;
    color: white;
    background-color: var(--primary-color);
    transition: background-color .5s;
}

.landing-hero__summary a:hover,
.landing-hero__summary a:focus {
    color: white;
    background-color: var(--secondary-color);
}

.landing-features {
    position: relative;
    z-index: 3;
    padding: 2rem 0;
}

.landing-features .items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.landing-features .items-list li {
    max-width: 28.125rem;
    width: 100%;
    margin: 1rem 0;
}

.landing-features h4 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    line-height: 157.5%;
}

.landing-features h4 strong {
    font-weight: 700;
    color: var(--primary-color);
}

.landing-footer {
    padding: 6rem 0 4rem;
    background: linear-gradient(180deg, #EBF4FE 0%, #FFFFFF 50.52%, #FFFFFF 100%);
}

.landing-footer__logo .items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.landing-footer__logo .items-list > * {
    margin: 1rem;
}


@media screen and (min-width: 1024px) {
    .landing-hero { height: var(--height-header); }

    .landing-header__logo,
    .landing-hero__image,
    .landing-features .items-list,
    .landing-footer__logo .items-list { 
        flex-wrap: nowrap;
        justify-content: space-between; 
    }

    .landing-container { max-width: var(--site-width); }

    .landing-hero { height: calc(100vh - var(--height-header)); }
    
    .landing-features { padding: 8rem 0 5rem; }

    .landing-footer__logo .items-list { justify-content: center; }
}